aiohttp
beautifulsoup4
hachoir
numpy
Pillow
pyrofork==2.3.33
requests
tgcrypto
yt-dlp
olefile
motor
pymongo==4.8.0
dnspython
ffmpeg-python
ffmpeg
psutil
loggers
filetype
tldextract
aiofiles
pyromod==1.2
flask
gunicorn==20.1.0

